@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}
:root {
    --texto: arial, helvetica, sans-serif;

    --cor1: #D5F2F2;
    --cor2: #71D9C6;
    --cor3: #1BAFBF;
    --cor4: #054A59;
    --cor5: #022859;
}
body {
    min-height: 100vh;
    background-color: var(--cor5);
    font-family: var(--texto);
    font-size: 1.5em;
}
header {
    background-image: url('../imagens/backg.png') ;
}
nav, footer {
    background-color: var(--cor4);
    color: var(--cor1);
    text-align: center;
    padding: 10px;
}
nav {   
     text-align: right;
     
    }
nav>a, footer>a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
}
nav>a:hover {

}
main {
    background-color: var(--cor1);
}